//
//  Production.xcconfig
//  MultiEnvironmentSetup
//
//  Created by Mohit Kumar on 08/09/19.
//  Copyright © 2019 Mohit Kumar. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


server_url          = www.production.com
timeout             = 60
